# ==========================================
# Python
# ==========================================

# Bytecode
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# ==========================================
# Testing
# ==========================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Virtual Environments
# ==========================================

.venv/
venv/

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# Operating System
# ==========================================

.DS_Store
Thumbs.db


# Jupyter / Google Colab
.ipynb_checkpoints/

# Logs
*.log

# Archivos temporales
*.tmp

# Variables de entorno
.env

# Modelos entrenados
models/
artifacts/

# Archivos grandes de entrenamiento (si en algún momento deciden no versionarlos)
# datasets/processed/